body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.navimage {
    display: flex;
    gap: 10px;
    margin-right: 15%;

}

.navtext {
    display: flex;
    gap: 25px;
    margin-left: 10%;
}

.navflex {
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 113);
    color: white;
    padding: 8px;
}
.Second_navflex{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.Second_navtitle{
    margin-left: 11%;
}
.Second_sidetitle{
    display: flex;
    margin-right: 15%;
    gap:20px
}

.maintext{
    margin-top: 10px;
}
.maindiv{

margin-top: 5%;

}
.button{
    background-color: rgb(25, 172, 251);
    color: white;
    padding: 10px;
}


.mainbigtext{
    font-size: 34px;
    color: rgb(78, 78, 249);
    
}
.backgroundmain{
    background-image: url(/image/subha-bihani-back\ .png);
background-size: cover;
padding: 15%;

}
.animatedblock{
    position: relative;
    display: block;
    height: 3px;
    width: 115px;
    background-color: #161e71;
    border-left: 10px solid white;
    border-right: 10px solid white;
    
   
}
p{
    text-align: justify;
    font-size: 16px;
    font-weight: 800;
    color: rgb(102, 102, 102);
}
.About-Us{
    display: flex;
    gap:10%;
}
.our-services{
    background-image: url(/image/client-bg.png);
    padding: 20px;
}
.our-servicescentertext{
    text-align: center;
}
