body {
  background-color: #e6fffb;
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
}
.headerflex {
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 1% 2%;
}
.header-first-image {
  height: 4rem;
  width: 10rem;
}
.header-second-image {
  height: 4rem;
  width: 6rem;
}
.line {
  margin-top: 1%;
  display: block;
  height: 0.5rem;
  width: 27rem;
  background-color: #00474f;
}
.navflex {
  display: flex;
  justify-content: space-between;
  background-color: #13c2c2;
  color: black;
  padding: 0.5%;
}
a {
  text-decoration: none;
  font-size: small;
  color: black;
}
.generalinfo-nav {
  display: flex;
  gap: 10px;
  margin-right: 1%;
}
.natureimage {
  width: 97%;
  height: 1%;
  padding-left: 1.5%;
  padding-top: 2%;
}
.mainflex {
  display: flex;
  flex-direction: column;
  background-color: #5cdbd3;
  margin: 1%;
  padding: 2%;
}
.Intromain {
  display: flex;
  justify-content: center;
}
.Myintro {
  display: flex;
  gap: 2%;
  padding: 2%;
}
.name {
  margin-left: 40%;
}
.form {
  background-color: #33c9d45c;
  color: black;
  padding: 5% 0% 0% 28%;
}
.footerflex {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.footer-main_flex {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  background-color: #00474f;
  color: white;
  margin-top: 2%;
}
@media only screen and (min-width: 432px) {
  .header-first-image {
    width: 15rem;
  }
  .header-second-image {
    height: 6rem;
    width: 7rem;
  }
  .line {
    width: 94.9rem;
  }
  .natureimage {
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .fleximgintro {
    display: flex;
  }
  .name {
    margin-left: 62%;
  }
  .introaboutme {
    padding: 8%;
  }
  .mypic {
    margin-left: 16%;
    width: 111%;
  }
  .form {
    background-color: #33c9d45c;
    color: black;
    padding: 1% 11% 0% 43%;
    font-size: 146%;
  }
  a {
    font-size: large;
  }
  .footerflex {
    padding: 0%;

    margin-top: 1%;
  }
}
